services:
  account-service:
    build: ./AccountService
    container_name: account-service
    environment:
      - KEY=123
    ports:
      - "5002:5002"

  rental-service:
    build: ./RentalService
    container_name: rental-service
    environment:
      - KEY=123
    ports:
      - "5001:5001"

  api-gateway:
    build: ./APIGateway
    container_name: api-gateway
    ports:
      - "5000:5000"
    environment:
      - ACCOUNT_SERVICE_URL=http://account-service:5002
      - RENTAL_SERVICE_URL=http://rental-service:5001

  ui-service:
    build: ./UIService
    container_name: ui-service
    ports:
      - "8501:8501"
    environment:
      - API_GATEWAY_URL=http://api-gateway:5000/api