services:
  account-service:
    build: ./AccountService
    container_name: account-service
    environment:
      - KEY=123
    ports:
      - "5003:5003"

  rental-service:
    build: ./RentalService
    container_name: rental-service
    environment:
      - KEY=123
    ports:
      - "5001:5001"

  return-service:
    build:
      context: ./returnservice
    container_name: return-service
    ports:
      - "5002:5002"
    environment:
      - FLASK_ENV=development
      # Du kan her definere DATABASE_URL, hvis du vil overskrive "sqlite:///./returnservice_local.db"
      # - DATABASE_URL=...


  api-gateway:
    build:
      context: ./ApiGateway
    container_name: api-gateway
    ports:
      - "5000:5000"
    depends_on:
      - rental-service
      - return-service
    environment:
      - RENTAL_SERVICE_URL=http://rental-service:5001
      - RETURN_SERVICE_URL=http://return-service:5002
      - ACCOUNT_SERVICE_URL=http://account-service:5003

  ui-service:
    build:
      context: ./UIService
    container_name: ui-service
    ports:
      - "8501:8501"
    depends_on:
      - api-gateway
      - rental-service
      - return-service
    environment:
      - API_GATEWAY_URL=http://api-gateway:5000/api
