version: "3.9"

services:
  rental_service:
    build:
      context: ./RentalService
    container_name: rental_service
    ports:
      - "5001:5001"

  api_gateway:
    build:
      context: ./ApiGateway
    container_name: api_gateway
    ports:
      - "5000:5000"
    depends_on:
      - rental_service
    environment:
      - RENTAL_SERVICE_URL=http://rental_service:5001